@charset "UTF-8";

* {
  font-family: "나눔 고딕", NanumGothic, "돋움", Dotum, sans-serif;
}

a {
  text-decoration: none;
}

html,
body,
.wrap {
  width: auto;
  position: relative;
}

.blind {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 66px;
  background-color: rgba(64, 64, 64, 25%);
  z-index: 100;
  transition: all 100ms ease-in-out;
}
header.navbar--dark {
  background-color: rgba(64, 64, 64, 75%);
}
header .header__wrap {
  display: flex;
  width: 980px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

header .img__wrap a {
  display: block;
  background: url(/image/logo.png) no-repeat;
  height: 66px;
  width: 110px;
  background-position: center;
  background-size: contain;
}

header .nav div {
  float: left;
  font-size: 24px;
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;
}
header .nav div:hover {
  background-color: gray;
  border-radius: 5px;
}
header .nav .active {
  border: 1px solid #000;
  border-radius: 5px;
  background-color: gray;
}
header .nav div::after {
  display: block;
  content: "";
  clear: both;
}
.section__wrap {
  min-height: 100%;
  width: 100%;
}

.title .img__wrap {
  background-color: #fff;
  height: 750px;
}

.title .img__wrap .title__img__box {
  background: url(/image/section_invite.jpg) no-repeat;
  background-position: center;
  height: 750px;
}
.creator .img__wrap {
  background-color: #f9939d;
  height: 822px;
}
.creator .img__wrap .creator__img__box {
  background: url(/image/section_creator.jpg) no-repeat;
  background-position: center;
  height: 822px;
}
.store {
  position: relative;
}
.store .store__wrap {
  background-color: #d5e43f;
  height: 1084px;
  overflow: hidden;
  margin: 0 auto;
}
.store .category {
  text-align: center;
  padding-top: 275px;
}
.store .category .category__btn {
  background-color: #fff;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 4px 48px;
  font-size: 16px;
  line-height: 20px;
}
.store .category .category__btn:hover,
.store .category .category__btn.selected {
  background-color: lemonchiffon;
}

.store .category .category__count {
  display: inline-block;
  color: #fff;
  background-color: orange;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  position: relative;
  top: -20px;
  opacity: 0;
  transition: all 300ms ease-in;
}

.category__btn.selected .category__count,
.category__btn:hover .category__count {
  top: 0;
  opacity: 1;
}
.store .list__wrap {
  position: relative;
  background: url(/image/section_store.jpg) no-repeat;
  background-position: center;
  height: 1084px;
  margin: 0 auto;
}
.store .list__wrap .store__list {
  width: 980px;
  height: 740px;
  margin: 0 auto;
  padding-top: 25px;
  opacity: 1;
  transition: all 300ms ease-out;
}
.store__list.anima__out {
  opacity: 0;
  transform: scale(0.96) translateY(30px);
}
.store .list__wrap li {
  float: left;
  position: relative;
}
.store .invisible {
  display: none;
}

.store .list__wrap .store__list::after {
  content: "";
  clear: both;
  display: block;
}
.store .list__wrap li {
  margin: 5px;
}

.store .list__wrap .item__img {
  position: relative;
  width: 230px;
  height: 230px;
}

.store .list__wrap .item__link {
  display: inline-block;
  position: relative;
  width: 230px;
  height: 230px;
  border-radius: 10px;
}
.store .list__wrap .item__link img {
  border-radius: 10px;
}

.store .dimmed__layer {
  display: none;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(96, 132, 2, 0.9);
  border-radius: 10px;
  width: 230px;
  height: 230px;
}
.store .list__wrap .item__img:hover .dimmed__layer {
  display: flex;
}
.store .list__wrap .item__img:focus .dimmed__layer {
  display: flex;
}
.store .sale {
  font-size: 65px;
  line-height: 68px;
  font-weight: bold;
  color: #fff;
}
.store .sale__time {
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}
.store .list__wrap .item__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  line-height: 30px;
  height: 140px;
  color: #1b1d21;
  text-align: center;
}
.store .item__info .item__info__title {
  width: 230px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 10px;
  box-sizing: border-box;
}
.store .price__num {
  font-size: 28px;
  line-height: 38px;
  font-weight: bold;
  margin: 0 -4px;
}
.recipe .recipe__wrap {
  position: relative;
  background-color: #b893f9;
  height: 1030px;
  background-image: url(/image/pattern_recipe.png);
  background-repeat: repeat-x;
  background-position: center;
}
.recipe .recipe__img {
  position: relative;
  background: url(/image/section_recipe.png) no-repeat;
  background-position: center 30%;
  height: 1030px;
}
.recipe .recipe__img .recipe__link {
  position: relative;
  width: 980px;
  height: 1030px;
  margin: 0 auto;
}
.recipe .link__box {
  float: left;
  width: 480px;
  height: 482px;
  margin-top: 304px;
}
.recipe .link__box + .link__box {
  margin-left: 20px;
}
.recipe .link__box a {
  display: inline-block;
  width: 480px;
  height: 482px;
}
.recipe .look__recipe {
  width: 310px;
  height: 1030px;
  margin: 0 auto;
}
.recipe .look__recipe .recipe__again {
  display: inline-block;
  background: url(/image/go_recipe.gif) no-repeat;
  background-position: center 90%;
  width: 310px;
  height: 91px;
  margin-top: 60px;
}
.recipe .look__recipe .recipe__again:hover {
  background: url(/image/go_recipe_over.gif);
}
.faq .faq__wrap {
  background-color: #fff;
  padding: 100px 0;
}
.faq h2 {
  background: url(/image/title_faq.gif) no-repeat;
  background-position: center;
  height: 98px;
}
.faq ul {
  margin: 0 auto;
}
.faq li {
  position: relative;
}
.faq .content {
  position: relative;
  border-top: 1px solid #a1a5ad;
  border-bottom: 1px solid #a1a5ad;
  vertical-align: middle;
}
.faq li + li .content {
  border-top: none;
}
.faq .question__arrow__box {
  position: relative;
  padding: 30px;
}

.faq .question {
  width: inherit;
  background: url(/image/icon_question.gif) no-repeat;
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
  color: #1b1d21;
  padding: 0 100px 0 40px;
}
.faq .arrow {
  position: absolute;
  top: 0;
  right: 0;
  background: url(/image/icon_arrow_down.gif) no-repeat;
  width: 100px;
  height: 100%;
  background-position: center;
  cursor: pointer;
  border: none;
  outline: none;
}
.faq .arrow.open {
  position: absolute;
  top: 0;
  right: 0;
  background: url(/image/icon_arrow_up.gif) no-repeat;
  width: 100px;
  height: 100%;
  background-position: center;
  cursor: pointer;
  border: none;
  outline: none;
}
.faq .answer__box {
  display: none;
}
.faq .answer__box.open {
  display: block;
  position: relative;
  background-color: #f7f8fa;
  padding: 30px;
  box-sizing: border-box;
}

.faq .answer {
  background: url(/image/icon_answer.gif) no-repeat;
  font-size: 16px;
  line-height: 28px;
  padding-left: 40px;
  color: #60656e;
}
.top {
  display: none;
  position: fixed;
  bottom: 180px;
  right: 0;
  background: url(/image/go_top.gif);
  width: 100px;
  height: 100px;
  cursor: pointer;
}
.reveal {
  display: block;
}
footer {
  width: 100%;
  background-color: #e0e4eb;
  color: #70757d;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
  height: 80px;
}
footer .strong {
  font-weight: bold;
}
